.create-post {
  margin-top: 32px;
  padding: 0 16px;

  .create-post-form {
    display: flex;
    flex-direction: column;

    .create-post-message {
      margin-bottom: 1rem;
      padding: 6px 8px;
      border: 1px solid black;
    }

    .create-post-privacy {
      margin-bottom: 1rem;

      input[type='radio'] {
        margin-right: auto;
      }
    }
  }
}
