@import '@styles/variables';

@import '@styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #1d1128;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);

  .logo {
    margin-left: 16px;
  }

  .icon-links {
    margin-left: auto;

    div {
      position: relative;
      display: inline-block;
      margin-right: 16px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 8px;
      }

      a {
        display: block;

        &:hover,
        &:focus,
        &:active {
          outline: none;
          box-shadow: 0 2px #f9f871;
          filter: brightness(1.1);
        }
      }

      .alert::after {
        position: absolute;
        top: -1px;
        right: -3px;
        display: block;
        width: 8px;
        height: 8px;
        background: red;
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        opacity: 1; // Change opacity here
        transition: opacity 0.3s;
        content: '';
      }
    }
  }

  .hamburger-react {
    margin-right: 16px;

    &:hover,
    &:focus,
    &:active {
      filter: brightness(1.1);
    }
  }

  .nav-main {
    position: fixed;
    top: 64px;
    z-index: 100;
    width: 100%;
    height: 100dvh;
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #1d1128;
    opacity: 1;
    transition: all 0.3s ease-in;

    .nav-main-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      li {
        position: relative;
        top: -32px;
        text-align: center;

        a {
          display: block;
          width: 100%;
          padding: 24px 0;
          color: #e5d4ed;
          cursor: pointer;

          &:hover,
          &:focus,
          &:active {
            color: #1d1128;
            background-color: #dcdcdc;
            outline: none;
            box-shadow:
              0 2px 4px -1px rgb(0 0 0 / 20%),
              0 -2px 4px -1px rgb(0 0 0 / 20%);
          }
        }
      }
    }

    &.hidden {
      background-color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: all 0.18s ease-in;
      scale: 0.6;
    }

    @include respond-to($tablet) {
      position: unset;
      display: block;

      .nav-main-list {
        flex-direction: row;

        // justify-content: flex-end;
        background-color: transparent;

        li {
          width: auto;

          a {
            padding: 0 16px;
          }

          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
          }
        }
      }

      &.hidden {
        display: block;
      }
    }

    .toggle-target {
      display: none;
    }
  }
}
