.home {
  position: relative;
  width: 100%;
  height: calc(100dvh - 64px);

  .title {
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 90%;
    padding: 1.8rem;
    color: #efefef;
    font-size: 2.8rem;
    background-color: #01010160;
    border-radius: 32px;
  }

  .intro-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 90%;
    padding: 1.8rem;
    color: #efefef;
    line-height: 1.4em;
    background-color: #01010160;
    border-radius: 32px;

    .icon {
      position: absolute;
      right: 20px;
      display: block;
      margin-top: -16px;
      font-size: 1.2rem;
    }
  }

  .action-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    color: #efefef;
    transform: translateX(-50%);
  }
}
