.login {
  padding: 24px 16px;

  .title {
    margin-bottom: 16px;
  }

  .tooltip {
    margin-top: 16px;
    text-align: center;

    .link {
      display: block;
      margin-top: 8px;
    }
  }
}
